/*  GLOBAL */
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--orange: #f4a25b;
	--green: #708c69;
	--violet: #aca2dd;
	--shadow: #cbc5e8;
	--bg: #f9f5ee;
	--mark-size: 4.35rem;
	--mark-size-s: 2.25rem;
}

input,
button {
	font: inherit;
	font-size: clamp(1rem, 0.85rem + 0.4vw, 1.2rem);
}

body {
	margin: 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, sans-serif;
	background-color: var(--bg);
	color: var(--violet);
}

h1 {
	font-size: clamp(2.5rem, 1.975rem + 1.4vw, 3.2rem);
	text-align: center;
}

h2 {
	margin: 0;
	color: var(--violet);
	font-size: clamp(1.5rem, 1.2rem + 0.8vw, 1.9rem);
}

span {
	color: var(--orange);
}

.circle-color {
	color: var(--green);
}

/* GAME BOARD */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	margin: 1em;
	/* width: 50vw;
	height: 50vh; */
}

.cell {
	width: 6.25em;
	height: 6.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--shadow);
	position: relative;
	cursor: pointer;
}

/* remove border */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
	border-bottom: none;
}

/* marks */
.cell.cross,
.cell.circle {
	cursor: not-allowed;
}

/* cross */
.cell.cross::before,
.cell.cross::after {
	background-color: var(--orange);
}

.cell.cross::before,
.cell.cross::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
}

.cell.cross::before {
	transform: rotate(45deg);
}

.cell.cross::after {
	transform: rotate(-45deg);
}

/* circle */
.cell.circle::before,
.cell.circle::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	background-color: var(--green);
}

.cell.circle::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background-color: var(--bg);
}

.cell.circle::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

/* buttons */
button.cell {
	background-color: var(--bg);
}

button.cell:focus,
button.cell:active {
	-webkit-tap-highlight-color: transparent;
}

.start-game-btn,
.restart-btn {
	margin-top: 1em;
	background-color: var(--violet);
	border-radius: 3px;
	border: 1px solid var(--violet);
	color: var(--bg);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	padding: 0.5em 0;
	width: 10rem;
	text-align: center;
	vertical-align: baseline;
}

.start-game-btn:hover,
.restart-btn:hover {
	scale: 105%;
}

.player-name {
	margin-bottom: 1.5em;
	display: flex;
}

/* input */
input {
	border: none;
	outline: none;
	border-bottom: 0.2em solid var(--shadow);
	background: var(--bg);
	border-radius: 0.2em 0.2em 0 0;
	padding: 0.4em;
	font-weight: 600;
}

input:focus,
input:active {
	-webkit-tap-highlight-color: transparent;
}

input::placeholder {
	color: var(--violet);
	font-weight: 600;
}

input:focus::placeholder {
	color: transparent;
}

#player-1 {
	color: var(--orange);
}

#player-2 {
	color: var(--green);
}

/* input mark cross */
.player-mark-cross,
.player-mark-circle {
	width: 3.25em;
	height: 3.25em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-mark-cross::before,
.player-mark-cross::after {
	background-color: var(--orange);
	content: '';
	position: absolute;
	width: calc(var(--mark-size-s) * 0.15);
	height: var(--mark-size-s);
}

.player-mark-cross::before {
	transform: rotate(45deg);
}

.player-mark-cross::after {
	transform: rotate(-45deg);
}

/* input mark circle */
.player-mark-circle::before,
.player-mark-circle::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	background-color: var(--green);
}

.player-mark-circle::after {
	width: calc(var(--mark-size-s) * 0.7);
	height: calc(var(--mark-size-s) * 0.7);
	background-color: var(--bg);
}

.player-mark-circle::before {
	width: var(--mark-size-s);
	height: var(--mark-size-s);
}
